* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between; /* home left, menu group right */
    align-items: center;
    width: 100%;
    padding: 1.5rem 3rem; /* adjust as needed */
    background-color: #FFFFFF;
    margin: 0;
    position: relative;
}

.navbar .home-button {
    color: #950606;
    text-align: center;
    font-family: "Cedarville Cursive";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.nav-group {
    display: flex;
    justify-content: flex-end;
    align-items: none;
    gap: 3rem; /* evenly spaced menu items */
    list-style: none; /* remove bullet points */
}

.nav-group a {
    color: #4B3935;
    text-align: center;
    font-family: 'Zodiak';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.nav-group a:hover {
    color: #950606;
}

body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background: #FFFFFF;
        font-family: "Zodiak", serif;
        text-align: center;
        color: #4B3935;
}


h1 {
    font-family: 'Comico', cursive;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

/* making it responsive */
@media (max-width: 800px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .nav-group {
        flex-basis: 100%;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;
    }
}